@{
    ViewBag.Title = "sitio oficial de Catalo de animes";
    Layout = "~/Views/Shared/_LayoutMaster.cshtml";

}

<h1 style="text-align:center">
    Catalogo de Animes
</h1>
<div class="wrapper">
    <article class="wrapper-item">
        <img src="~/IMG/Captura de pantalla 2026-03-26 233052.png" />
    </article>
</div>

